<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insware.appremises">

    <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.INTERNET"
        />
    <uses-permission  android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission  android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.C2D_MESSAGE" />

    <permission android:name="com.google.android.c2dm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="controladores.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name=".interfaz.InicioSesion"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".interfaz.PantallaPrincipal"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".interfaz.Configuracion"
            android:label="Configuración">
        </activity>



        <!-- Receiver GCM -->
        <receiver
            android:name=".controladores.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="controladores" />

            </intent-filter>
        </receiver>

        <service android:name=".controladores.GcmIntentService"/>
    </application>

</manifest>
